#map {
    width: 100%;
    height: 520px;
    filter: grayscale(100%);
}
.column label{
    color:white;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: #7a7a7a;
    color: white;
}

.container {
    border-radius: 5px;
    background-color: #000000;
    padding: 10px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.autoplay{
    max-width: 700px;
    margin:20px auto;
}
.autoplay img{
    width: 100%;
    height: auto;
}