html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: white;
}

.header {
  position: fixed;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
  width: 100%;
  z-index: 3;
  background: rgb(0,0,0);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  color: white;
  display: block;
  padding: 20px 20px;
  font-size: 24px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #5c5c5c;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 15px 40px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.logo{
  color: white;
  font-family: 'Zen Dots', cursive;
}
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 260px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* main */
.video-bg{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-bg video{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}
.video_bg__content{
  z-index: 2;
  padding: 25px;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
}
.effect{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.fonimg{
  position	: relative;
  height: 100vh;
  width: 100%;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ),url(./img/fon1.jpg);
  background-position: center center;
  background-repeat: no-repeat; 
}

.inner-left-bottom{
  position: absolute;
  bottom: 15%;
  left: 50px;
}
.inner-left-bottom h3{
  margin: 0;
  font: 20px/32px D-DIN-Medium,Arial,Verdana,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  opacity: inherit;
  margin: auto auto 10px;
  color:white;
}
.inner-left-bottom h2{
  margin: 0;
  font: 46px/50px D-DIN-Bold,Arial,Verdana,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color:white;
}
.btn{

  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn1{
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.btn1:hover{
  background-color: #555555;
  color: white;
}

.fonimg2{
  position	: relative;
  height: 100vh;
  width: 100%;
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ),url(./img/fon2.jpg);
  background-position: center center;
  background-repeat: no-repeat; 
}
.video-bg2{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-bg2 video{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}
.video_bg__content2{
  width: 100%;
  z-index: 2;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}
/* footer */
.footer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: black;
}
.footer a, .footer h1{
  font-family: 'Zen Dots', cursive;
  color:white;
  padding-top: 25px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.logoh1{
  padding: 15px 0 0 15px;
}

/* header */
@media (min-width: 830px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/* main */
@media(max-width: 1030px){
  .video_bg__content{
    font-size: 30px;
  }
}
@media(max-width: 420px){
  .video_bg__content{
    font-size: 15px;
  }
}